.wrapper {
  background: lightblue url('./background.jpg') repeat;
}

.banner {
  background: url('./banner.jpg');
  background-size: cover;
  width: 100%;
  min-height: 300px;
  margin-bottom: 30px;
}

h1 {
  color: #000000 !important;
}

.btn-primary {
  border: 0 !important;
  color: #FFFFFF !important;
  background-color: #0f6674 !important;
}

.navbar {
  background-color: #0f6674 !important;
}
.navbar-brand {
  color: #FFFFFF !important;
}

a {
  color: #000000 !important;
}
